{BasedOnStyle: WebKit, IndentWidth: 4, UseTab: Never, ColumnLimit: 100, AllowShortIfStatementsOnASingleLine: false, BreakBeforeBraces: Attach, AllowAllConstructorInitializersOnNextLine: false, BreakConstructorInitializers: AfterColon, SpacesInContainerLiterals: false, AllowShortFunctionsOnASingleLine: Empty}
